{{!-- <h1>Test page</h1> --}}
{{!-- <div><a href="/"> <button style="margin-left: 50px;">HOMEPAGE</button></a>
<a href="/newpost"><button style="margin-left: 50px;">UPLOAD</button></a>
</div> --}}

<ul class="nav justify-content-center" style="background-color: #e3f2fd;">
  <li class="nav-item">
    <a class="nav-link active text-info" href="/"><button>HOMEPAGE</button></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/newpost"><button>UPLOAD</button></a>
  </li>
</ul>
{{!-- <div class="jumbotron"></div> --}}

<div id="container-cards">
  
  {{#each posts}}
  {{!-- <li> --}}
  <a href="{{this.yelpUrl}}" target="_blank">
  <div class="card">
    <img class="card-img-top" src="{{this.photo}}" alt="" height="200">
    {{!-- <a href="{{this.yelpUrl}}" target="_blank"> --}}
    <div class="card-body">
      {{!-- <p><span class="label">ID:</span> {{this.id}}</p> --}}
      {{!-- <p><span class="label">author:</span> {{this.Author}}</p> --}}
      <p><span class="label card-text"><b>Item:</b></span> {{this.item}}</p>
      <p><span class="label card-text"><b>Price: $</b></span> {{this.price}}</p>
      <p><span class="label card-text"><b>Restaurant:</b></span> {{this.restaurant}}</p>
      <p><span class="label card-text"><b>Address:</b></span> {{this.restAdd}}</p>
      <p><span class="label card-text"><b></b></span> {{this.comments}}</p>
      {{!-- </a> --}}
    </div>
    </a>
  </div>
  {{!-- <p><span class="label">Location:</span> {{this.restLocation}}</p> --}}

  {{!-- (author, item, price, restaurant, restAdd, restLocation) --}}


  {{!-- <button data-id="{{this.id}}" class="delquote">Delete</button> --}}

  {{!-- <a href="/{{this.id}}">Update this quote</a> --}}
  {{!-- </li> --}}
  {{/each}}
  
</div>

{{!-- <script>
console.log();
</script> --}}
{{!-- background-color: green --}}
{{!-- <div style="position: absolute; top: 5px; margin-left: 50px;"><a href="/"> <button>HOMEPAGE</button></a>
<a href="/newpost"><button style="margin-left: 50px;">UPLOAD</button></a></div> --}}
