<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST" enctype="multipart/form-data" id="postForm" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" aria-describedby="title" placeholder="Create A Title"
              name="title">
          </div>
          <div class="form-group">
            <label for="item">Item</label>
            <textarea class="form-control" id="item" aria-describedby="item" placeholder="Enter the Item"
              name="item"></textarea>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <textarea class="form-control" id="price" aria-describedby="price" placeholder="Enter the Price"
              name="price"></textarea>
          </div>
          <div class="form-group">
            <label for="restaurant">Restaurant</label>
            <textarea class="form-control" id="restaurant" aria-describedby="restaurant" placeholder="Enter the Restaurant"
              name="restaurant"></textarea>
          </div>
          <div class="form-group">
            <label for="restAdd">Restaurant Address</label>
            <textarea class="form-control" id="restAdd" aria-describedby="restAdd" placeholder="Enter the Restaurant Address"
              name="restAdd"></textarea>
          </div>
          <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" id="comments" aria-describedby="comments" placeholder=""
              name="comments"></textarea>
          </div>
          {{!-- adding our own img input to be read by multer --}}
          <div class="form-group">
            <label for="example-img">Example Image</label>
            <input type="file" accept="image/*" id="input-img" name="userPhoto" class="form-control"
              placeholder="Upload an img" >
            <img id="myImg" src="uploads\\userPhoto1558567338018blob" alt="your image" width="200">
          </div>
           <section id="camera">
              <!-- Camera sensor -->
              <h3>Capture image from Cam</h3>
              <canvas id="camera--sensor"></canvas>
               <input type="file" accept="image/*"  capture="environment" placeholder="Take a Photo">
              <!-- Camera view -->
              <video id="camera--view" autoplay playsinline></video>
              <!-- Camera output -->
              {{!-- <img src="//:0" alt="" id="camera--output"> --}}
              <!-- Camera trigger -->
              <button id="camera--trigger" class="btn btn-primary">Take a picture</button>
            </section>
          <button id="submitForm" class="btn btn-primary float-right">Submit</button>
        </form>
        <h1>Photo file</h1>
        <br>
        {{!-- TODO: Work out the process here how to send the file correctly through front end --}}
        <form id="frmUploader" enctype="multipart/form-data" action="/api/users" method="POST">
          <!-- <button type="submit" name="submit" id="btnSubmit" value="Upload" /> -->
          <input type="file" accept="image/*" capture="user" name="userPhoto">
          <button type="submit" id="btnSubmit">Upload</button>
        </form>
        <br><img id="myImg" src="#" alt="your image" width="200">
        <h3>Image Upload</h3>
        <ul class="post">
          {{#each post}}
          <li><img src="{{img}}" alt=""></li>
          {{/each}}
        </ul>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <img src="{{this.img}}" alt="">
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>