<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST" enctype="multipart/form-data" id="postForm" method="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control img2" aria-describedby="example-text"
              placeholder="Enter Example Text" name="title">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description" name="description"></textarea>
          </div>
          {{!-- adding our own img input to be read by multer --}}
          {{!-- <div class="form-group">
            <label for="example-img">Example Image</label>
            <input type="file" accept="image/*" id="example-img" name="userPhoto" class="form-control"
              placeholder="Enter Example img">
            <img id="myImg" src="#" alt="your image" width="200">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h1>Photo file</h1>
        <br> --}}
        {{!-- TODO: Work out the process here how to send the file correctly through front end --}}
        <form id="frmUploader" enctype="multipart/form-data" action="/api/users" method="POST">
          <!-- <button type="submit" name="submit" id="btnSubmit" value="Upload" /> -->
          <input type="file" accept="image/*" capture="user" name="userPhoto">
          <button type="submit" id="btnSubmit">Upload</button>
        </form>
        <br><img id="myImg" src="#" alt="your image" width="200">
        <!-- <input type="file" accept="image/*"> -->
        <!-- <input type="file" onchange="previewFile()" accept="image/*"><br>
    <img src="" height="200" alt="Image preview..."> -->

        {{!-- <input type='file' accept="image/*" id="file-input"/> --}}
        {{!-- <input type="file" accept="image/*" capture> --}}

        {{!-- <input type="file" accept="image/*" capture="environment"> --}}

        <h3>Image Upload</h3>
        <ul class="post">
          {{#each post}}
          <li><img src="{{img}}" alt=""></li>
          {{/each}}
        </ul>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <img src="{{this.img}}" alt="">
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>